/* Resume Container - A4 Dimensions */
.resumePage {
    width: 210mm;
    min-height: 297mm;
    padding: 12mm 18mm;
    margin: 0 auto;
    background: white;
    font-family: 'Arial', 'Inter', 'Helvetica Neue', Helvetica, sans-serif;
    color: #000;
    line-height: 1.35;
    font-size: 10pt;
    box-sizing: border-box;
}

/* Header */
.header {
    text-align: center;
    margin-bottom: 12pt;
}

.name {
    font-size: 22pt;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 4pt 0;
    letter-spacing: 0.5pt;
}

.titles {
    font-size: 10pt;
    font-weight: 600;
    margin-bottom: 4pt;
    color: #222;
}

.contactInfo {
    font-size: 9pt;
    color: #222;
    white-space: nowrap;
}

/* Sections */
.section {
    margin-bottom: 10pt;
}

.sectionTitle {
    font-size: 11pt;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 2pt 0;
    letter-spacing: 0.5pt;
}

.separator {
    height: 1px;
    background: #000;
    margin-bottom: 6pt;
    width: 100%;
}

.summary {
    text-align: left;
    margin: 0;
    font-size: 10pt;
}

/* Skills */
.skillRow {
    margin-bottom: 2pt;
    font-size: 10pt;
}

.skillCategory {
    font-weight: 700;
    margin-right: 4pt;
}

/* Experience / Jobs */
.jobBlock {
    margin-bottom: 8pt;
}

.jobHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1pt;
}

.company {
    font-weight: 700;
    font-size: 10.5pt;
    color: #000;
}

.date {
    font-size: 9.5pt;
    font-style: italic;
    color: #000;
}

.jobRole {
    font-weight: 600;
    font-size: 10pt;
    margin-bottom: 2pt;
    font-style: italic;
}

.list {
    margin: 0;
    padding-left: 14pt;
}

.listItem {
    margin-bottom: 1pt;
    font-size: 10pt;
}

/* Education */
.eduBlock {
    margin-bottom: 6pt;
}

.certList {
    font-size: 10pt;
    margin-top: 2pt;
}